@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to top, #a3a5a8,#76777B, #64666b);
}

main{
    background-color: #FAF8EB;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #364252;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #435172;
    text-align: center;
    text-shadow: 1px 1px 2px #1b1da03d;
    text-decoration: underline;
}
h2 {
    color:  #435172;
}

p {
    text-align: justify;
    color:  #2b3449;
}